## Programming Assignment 24

Question1

Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
2. If the number cannot be divided evenly by 4, simply return the number.
```
Examples
amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]
```
Notes

- The given integer will always be equal to or greater than 1.
- Include the number (see example above).
- To perform this problem with its intended purpose, try doing it with list comprehensions. If that's too difficult, just solve the challenge any way you can.

In [9]:
def amplify(num):
    list1 = []
    for i in range(1,num+1):
        if i % 4 == 0:
            list1.append(i * 10)
        else:
            list1.append(i)
    return list1

In [10]:
amplify(4)

[1, 2, 3, 40]

In [7]:
amplify(3)

[1, 2, 3]

In [11]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

In [12]:
amplify(20)

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200]

In [13]:
def amplify(num):
    return [x if x % 4 != 0 else x * 10 for x in range(1,num+1)]

In [14]:
amplify(4)

[1, 2, 3, 40]

In [15]:
amplify(3)

[1, 2, 3]

In [16]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

---------------------------
Question2

Create a function that takes a list of numbers and return the number that's unique.
```
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
```
Notes: 
Test cases will always have exactly one unique number while all others are the same.

In [17]:
def unique(list1):
    unique_ele = list(set(list1))
    for i in unique_ele:
        if list1.count(i) == 1:
            unique = i
    return unique

In [18]:
unique([3, 3, 3, 7, 3, 3])

7

In [19]:
unique([0, 0, 0.77, 0, 0])

0.77

In [20]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

----------------
Question3

Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.

```
Examples
circy = Circle(11)
circy.getArea()

# Should return 380.132711084365

circy = Circle(4.44)
circy.getPerimeter()

# Should return 27.897342763877365

```
Notes : 
Round results up to the nearest integer.

In [21]:
import math
class Circle:
    
    def __init__(self,radius):
        self.radius = radius
        
    def getArea(self):
        return math.pi * self.radius * self.radius
    
    def getPerimeter(self):
        return 2*math.pi*self.radius

In [22]:
circy = Circle(11)
circy.getArea()

380.1327110843649

In [23]:
circy = Circle(4.44)
circy.getPerimeter()

27.897342763877365

Question4

Create a function that takes a list of strings and return a list, sorted from shortest to longest.
```
Examples
sort_by_length(["Google", "Apple", "Microsoft"])
➞ ["Apple", "Google", "Microsoft"]

sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"]

sort_by_length(["Turing", "Einstein", "Jung"])
➞ ["Jung", "Turing", "Einstein"]
```
Notes: 
All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same length.

In [24]:
def sort_by_length(list1):
    list2 = sorted(list1,key = lambda x : len(x))
    return list2

In [25]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [26]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [27]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

---------------
Question5

Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.

```
Examples
is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25

is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169

is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
```
Notes : 
Numbers may not be given in a sorted order.

In [28]:
def is_triplet(a,b,c):
    
    if ((a**2) + (b**2)) == (c**2):
        return True
    
    if ((a**2) + (c**2)) == (b**2):
        return True
    
    if ((c**2) + (b**2)) == (a**2):
        return True
    
    return False

In [29]:
is_triplet(3, 4, 5)

True

In [30]:
is_triplet(13, 5, 12)

True

In [31]:
is_triplet(1, 2, 3)

False