## Programming Assignment 23

------------------
Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
```
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    num = str(num)
    if num == num[::-1]:
        return True
    return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

------------------
Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

```
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [10]:
from functools import reduce
def multiply_nums(str2):
    nums = str2.split(",")
    return reduce(lambda x,y: int(x)*int(y) , nums)

In [11]:
multiply_nums("2, 3")

6

In [12]:
multiply_nums("1, 2, 3, 4")

24

In [13]:
multiply_nums("54, 75, 453, 0")

0

In [14]:
multiply_nums("10, -2")

-20

---------------
Question 3

Create a function that squares every digit of a number.
```
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
```
Notes : 
The function receives an integer and must return an integer.

In [20]:
def square_digits(num):
    res = ""
    for i in str(num):
        res = res + str(int(i)**2)
    return int(res)

In [21]:
square_digits(9119)

811181

In [22]:
square_digits(2483)

416649

In [23]:
square_digits(3212)

9414

----------------------
Question 4

Create a function that sorts a list and removes all duplicate items from it.
```
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [1]:
def setify(list1):
    list1 = list(set(list1))
    list1.sort()
    return list1

In [2]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [3]:
setify([4, 4, 4, 4])

[4]

In [4]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [5]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

------------------
Question 5

Create a function that returns the mean of all digits.
```
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
```

Notes :

- The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
- The mean will always be an integer.

In [ ]:
def mean(num):
    dsum = 0
    for i in str(num):
        dsum += int(i)
    return dsum//