## Programming Assignment 20

Question1

Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

```
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [8]:
def filter_list(list1):
    return list(filter(lambda x : type(x) == int ,list1))

In [9]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [10]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [11]:
filter_list(["Nothing", "here"])

[]

In [12]:
def filter_list(list1):
    return [x for x in list1 if type(x) == int]

In [13]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [14]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [15]:
filter_list(["Nothing", "here"])

[]

Question2

Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

```
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [18]:
def add_indexes(list2):
    return list(map(lambda x,y : x + y,list2,range(len(list2))))

In [19]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [20]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [21]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

Question3

Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. 

`Volume of cone = (Pi*(radius^2)*height) / 3`

```
Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [22]:
import math

def cone_volume(h,r):
    return round((math.pi * (r**2) * h)/3,2)

In [23]:
cone_volume(3, 2)

12.57

In [24]:
cone_volume(15, 6)

565.49

In [25]:
cone_volume(18, 0)

0.0

Question4

This Triangular Number Sequence is generated from a pattern of dots that form a triangle. 

The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the sequence.
```
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

"""
*
**
***
****
*****
..
..
*********
"""

In [34]:
def triangle(n):
    return int((n * (n+1))/2)

In [35]:
triangle(1)

1

In [37]:
triangle(6)

21

In [38]:
triangle(215)

23220

Question5

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

```
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [42]:
sum_1to10 = sum(range(1,10+1))
def missing_num(list3):
    return sum_1to10 - sum(list3)

In [43]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [44]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [45]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7